<div class="row">
    <aside class="col-sm-3 col-xs-12 ghb-vcard">
        <img class="ghb-avatar" ng-src="{{vm.perfil.avatar_url}}" title="{{vm.perfil.name}}" />
        <h1 class="ghb-vcard-nome">{{vm.perfil.name}}</h1>
        <h2 class="ghb-vcard-login">{{vm.perfil.login}}</h2>
    </aside>
    <main class="col-sm-9 col-xs-12">
        <div class="row">
            <div class="col-md-7 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Quem sou</div>
                    <div class="panel-body">
                        {{vm.primeiroNome()}} is a developer who lives in {{vm.perfil.location}}.
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sx-12">
                <div class="panel panel-default panel-charts">
                    <div class="panel-heading">Linguagens</div>
                    <div class="panel-body">
                        <div>
                            <h6>Por repositório</h6>
                            <ghb-linguagens-por-repositorio repositorios="vm.repositorios"></ghb-linguagens-por-repositorio>
                        </div>

                        <div ng-if="!vm.exibeLinguagensPorLinhaDeCodigo">
                          <button class="btn btn-default" type="button" ng-click="vm.exibirLinguagensPorLinhaDeCodigo()">Exibir linguagens por linha de código</button>
                        </div>

                        <div ng-if="vm.exibeLinguagensPorLinhaDeCodigo">
                            <h6>Por linhas de código escritas</h6>
                            <ghb-linguagens-por-linhas-de-codigo dados-linguagens="vm.linguagensPorLinhas"></ghb-linguagens-por-linhas-de-codigo>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <ul class="list-unstyled">
            <li ng-repeat="repositorio in vm.repositorios  | orderBy: '-stargazers_count'">
                <a ng-href="{{ vm.criarUrlRepositorio(repositorio) }}">{{ repositorio.name}}</a>
            </li>
        </ul>
    </main>
</div>
